
:root {
  /* paleta de colores */
  --primario-light: #E8EDF2;
  --primario-light-hover: #DCE4EC;
  --primario-light-active: #B6C7D8;
  --primario: #2850be;
  --primario-hover: #134273;
  --primario-active:#2850be;
  ;
  --primario-dark: #103760;
  --primario-dark-hover: #0D2C4D;
  --primario-dark-active: #09213A;
  --primario-darkest: #071A2D;

  --neutral-light: #F1F1F1;
  --neutral-light-hover: #EBEBEB;
  --neutral-light-active: #D5D5D5;
  --neutral: #777;
  --neutral-hover: #6B6B6B;
  --neutral-active: #5F5F5F;
  --neutral-dark: #595959;
  --neutral-dark-hover: #474747;
  --neutral-dark-active: #363636;
  --neutral-darkest: #2A2A2A;

  --acento: #F0B011;

  /* ----------------------------------------------------------- */

  /* fuentes de letra */
  --Raleway-regular: 'Raleway regular', sans-serif;
  --Raleway-extrabold: 'Raleway extrabold', sans-serif;

  --Roboto-bold: 'Roboto bold', sans-serif;
  --Roboto-bolditalic: 'Roboto bolditalic', sans-serif;
  --Roboto-medium: 'Roboto medium', sans-serif;
  --Roboto-regular: 'Roboto regular', sans-serif;
  --Roboto-semibold: 'Roboto semibold', sans-serif;


}
.text{
      color: var(--primario);
      font-size: 28px;
      font-family: var(--Raleway-extrabold);
}
.textp{
  font-size: 14px;
color:var(--primario-active);

}

.contratar{
  background-color: var(--acento);

}
.slice{
  font-family: var(--Raleway-extrabold);
}